@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: "poppins",sans-serif;
}
.question{
    background-color: white;
padding: 20px;
width: 800px;
border-radius: 10px;
font-weight: bold;
font-size: 1.3em;
margin: 20px;
}
.answer{
    display: none;
}
.aicon{
    float: right;
}
.active{
    display: block;
}