body{
    background-color: #9FAD97;
}
#a{
    text-align: left;
}
#b{
    text-align: center;
}
#c{
    text-align: right;
}
#d{
    color:#336600;
}
#e{
    font-family: "Trebuchet MS";
}
#f{
    color:white;
    font-family: arial;
    font-size: x-small;
}
#g{
    text-align: center;
}