.App {
  text-align: center;
  margin: 5rem auto;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
	  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background: #f1f5f8;
	color: #102a42;
	line-height: 1.5;
	font-size: 0.875rem;
  }
img.image {
  border: 4px solid #bcccdc;
  border-radius: 50%;
  box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
  height: 150px;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 150px;
}
button.prev{
  position:absolute;
  top:170px;
  left:0;
}
button.next {
  position:absolute;
  top:170px;
  right:0;
}


article {
  opacity:0;
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  transition:all 0.3s linear;

}
article.activeSlide{
opacity:1;
transform:translateX(0)
}
.slider{
  position:relative;
  width:60vw;
  margin:4rem auto;
  display:flex;
  
}
article.nextSlide{
transform:translateX(100%)
}
article.lastSlide{
transform:translateX(-100%)
}
.next ,.prev {
  background:#617d98;
  border:transparent;
  color:white;
  font-size:2em;
  border-radius:3px;
  display:flex;
  cursor:pointer;
}
.icon{
  color:#ba5d2c;
  font-size:3rem;
  margin-top:1rem;
}
h1 {
	font-size: 3rem;
  }
  h2 {
	font-size: 2rem;
  }
  h3 {
	font-size: 1.25rem;
  }
  h4 {
	font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ba5d2c;
  }
  p {
	margin-bottom: 1.25rem;
	color: hsl(210, 22%, 49%);
  }
  p.title {
    color:#324d67;
    text-transform:capitalize;
    font-size:1rem;
}
p.text {
  line-height: 2;
  font-size: 1rem;
}
span{
  color: #ba5d2c;
}