*{
    box-sizing: border-box;
}

body{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    display: flex;
    background-color: #9d5fff;
}
.btn ,.stop{
    background-color: violet;
    color: white;
border-color: violet;
border-bottom: violet;
border-right: violet;
border-radius: 20px;
padding: 10px;
width: 150px;
margin: 10px;
font-size: 20px;
}

.btn:hover{
    cursor: pointer;
    background-color: darkorchid;
    
    border-bottom: darkorchid;
    border-right: darkorchid;
    border-top: darkorchid;
    border-left: darkorchid;
}
.stop:hover{
    cursor: pointer;
    background-color: darkorchid;

    border-bottom: darkorchid;
    border-right: darkorchid;
    border-top: darkorchid;
    border-left: darkorchid;
}